In [5]:
import pandas as pd
import numpy as np
from Classes.understanding import DataLoader, DataChecks, DataInfo

In [6]:
# Instantiate the DataLoader class
loader= DataLoader()

# Instantiate the DataInfo class
summary= DataInfo()

In [9]:
# Reading the restaurants csv file
Kenya_data = loader.read_data("Kenya-Public-Debt.csv")

# Summary information on the restaurant df
print(f'\nKENYA PUBLIC DEBT INFORMATION\n' + '=='*20 + '\n')
summary.info(Kenya_data)

KENYA PUBLIC DEBT INFORMATION
========================================

========================================
Shape of the dataset : (292, 5)
========================================

========================================
Column Names
========================================
Index(['      PUBLIC DEBT', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4'],
      dtype='object')


========================================
Data Summary
========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0         PUBLIC DEBT  291 non-null    object
 1   Unnamed: 1         290 non-null    object
 2   Unnamed: 2         290 non-null    object
 3   Unnamed: 3         290 non-null    object
 4   Unnamed: 4         290 non-null    object
dtypes: object(5)
memory usage: 11.5+ KB
========================================

========================================
Descriptive Statistics
========================================

,PUBLIC DEBT,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,291,290,290,290,290
unique,28,13,290,290,290
top,2011,9,Domestic Debt,External Debt,Total
freq,12,25,1,1,1

========================================
Dataset Overview
========================================

,PUBLIC DEBT,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,(shillings million),NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Year,Month,Domestic Debt,External Debt,Total

i. Consistency Check
***

In [10]:
# Instantiating Datachecks for restaurant df
checks= DataChecks(Kenya_data)

# Checking for duplicates
checks.check_duplicates()

NO DUPLICATES FOUND

ii. Completeness Check

In [11]:
# Checking for null values in restaurant dataset
checks.check_missing()

        Column Names  Missing Values  Percentage Missing
0        PUBLIC DEBT               1            0.342466
1         Unnamed: 1               2            0.684932
2         Unnamed: 2               2            0.684932
3         Unnamed: 3               2            0.684932
4         Unnamed: 4               2            0.684932